[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/
.vs/
.vscode/
.gradle/
DerivedData/
*.pidb
*.pdb
*.mdb
*.opendb
*.VC.db
*.csproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.unityproj
